body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color:#f1f1f1;
}

#unikiaicon{
    height:2.5rem;
    width:2rem;
    display:inline-block;
    padding-top:.25rem;
    padding-bottom:.25rem;
    margin-right:1rem;
    line-height:inherit;
    white-space:nowrap;
}

#analyticsPart{
    border: 1px solid black;
    overflow:hidden;
    background-color: white;
    display:block;
    clear:both;
}

#twittersection{
    border: 1px solid black;
    margin-top: 2rem;
    width:20rem;
    background-color:f1f1f1;
    
}

#mainbody{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#view-selector-container{
    display:none;
}

#embed-api-auth-container{
    float:right;
}
