body {
    min-height: 1rem;
    padding-top: 3rem;
    background-color: #f1f1f1;
}

#logout {
    margin: 0;
    border: none;
    outline:none;
    width: 2rem;
    height: 2rem;
}
#logout_btn {
    cursor: pointer;
    background:transparent;
    margin: 0;
    border: none;
    outline:none;
}
#facebook {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
#linkBlackColor {
    color: black;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    margin: 1%;
}
.countryTable {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    margin: 1%;
    float: left;
}
.latestPostTable {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    margin: 1%;
    float: left;
}
.likesTable {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    float: left;
    margin: 1%;
}
.searchTable {
    border-collapse: collapse;
    width: 98%;
    table-layout: fixed;
}
.searchSetupTable {
    border-collapse: collapse;
    width: 98%;
    table-layout: fixed;
    margin-bottom: 3%;
}
.searchSetupTd {
    text-align: center;
    background-color: white;
    min-width: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.summaryTable {
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 1.6vw;
}
td {
    background-color: white;
    min-width: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.5vw;
    text-align: center;
}
th {
    background-color: #520a76;
    color: white;
    text-align: center; 
    width: 10%;
    padding: 1vw;
}
.thMessage
{
    width: 40%;
}
#thTotalLikes
{
    width: 50%;
}
#linkTd
{
    background-color: #520a76;  
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    color: white;
}

.dateTd {
    font-size: 1.3vw;
}
#searchHeader
{
    background-color: #520a76;  
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 50%;
}
.likesSettings {
    color: #08c5dd;
}
.commentsSettings {
    color: red;
}
.sharesSettings {
    color: green;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}
#menuLinks {
    color: black;
}
#buttonScale {
    font-size: 2vw;
}
#buttoninfo {
    width: 3em;
    height: 3em;
}
#buttonMargin {
    margin-left: 1%;
}
h1 {
    margin: 1%;
}


@media (max-width: 640px) {
    /* For mobile phones: */

    .countryTable {
        border-collapse: collapse;
        width: 96%;
        table-layout: fixed;
        margin: 2%;
    }
    .latestPostTable {
        border-collapse: collapse;
        width: 192%;
        table-layout: fixed;
        margin: 2%;
        display: block;
    }
    .likesTable {
        border-collapse: collapse;
        width: 192%;
        table-layout: fixed;
        margin: 2%;
        display: block;
    }
    .searchTable {
        border-collapse: collapse;
        width: 196%;
        table-layout: fixed;

    }
    .searchSetupTable {
        border-collapse: collapse;
        width: 196%;
        table-layout: fixed;
        margin-bottom: 3%;
    }
    .summaryTable {
        border-collapse: collapse;
        width: 96%;
        table-layout: fixed;
        margin: 2%;
    }
    th, td {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-size: 3vw;
    }
    td {
        background-color: white;
        min-width: 10%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0.5vw;
        text-align: center;
    }
    th {
        background-color: #520a76;
        color: white;
        text-align: center; 
        width: 20%;
        padding: 1vw;
    }
    .thMessage
    {
        width: 60%;
    }
    #linkTd
    {
        background-color: #520a76;  
        padding: 1vw;
        text-align: center;
        font-weight: bold;
        color: white;
    }
    .dateTd {
        font-size: 3.2vw;
    }
    #searchHeader
    {
        background-color: #520a76;  
        padding: 1vw;
        text-align: center;
        font-weight: bold;
        color: white;
        width: 100%;
    }
    #thTotalLikes
    {
        width: 50%;
    }
    #likesSize
    {
        width: 50%;
    }
    .scaleZoom {
        overflow-x: scroll;
    }
    #buttonScale {
        font-size: 4vw;
    }
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    #buttonMargin {
        margin-left: 2%;
    }
}
