
@import './base/custom-media';
@import './base/variables';


/* Components. */
@import './components/active-users';
@import './components/chartjs';

body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color:#f1f1f1;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#unikiaicon{
    height:2.5rem;
    width:2rem;
    display:inline-block;
    padding-top:.25rem;
    padding-bottom:.25rem;
    margin-right:1rem;
    line-height:inherit;
    white-space:nowrap;
}

#analyticsPart{
    border: 1px solid black;
    overflow:hidden;
    background-color: white;
    display: block;
    clear: both;
}

#twittersection{
    border: 1px solid black;
    margin-top: 2rem;
    display:inline-block;
    background-color:white;  
    width: 24%;
    float: right;
}
#facebooksection {
    overflow: auto;
    width: 74%;
    margin-top: 2rem;
    float: left;
    display: inline-block;
    
}

.twitter-timeline{
    width:20rem !important;
}

#view-selector-container{
    display:none;
}

#embed-api-auth-container{
    float:right;
    display: block;
}

#chart-container{
    width:99.05%;
}
canvas {
    height: 17em;
    width: 100%;
}

.chartjs {
    display: inline;
    width: 30rem;
}
.ViewSelector2 {

}
#embed-api-auth-container {
    float: right;
}
#topchart {
    border: 1px solid black;
    background-color: white;
    overflow: auto;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
}
#date-range-selector-1-container {
    display: inline;
    text-align: center;
}
.DateRangeSelector-item {
    display: inline;
}
#view-name {
    display: none;
}

#ana_tekst{
    
}

#linkBlackColor {
    color: black;
    text-decoration: underline;
}
.countryTable {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    float: left;
}
.latestPostTable {
    border-collapse: collapse;
    width: 48%;
    table-layout: fixed;
    float: right;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 1.2vw;
}
td {
    background-color: white;
    min-width: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.5vw;
    text-align: center;
}
th {
    background-color: #520a76;
    color: white;
    text-align: center; 
    width: 10%;
    padding: 1vw;
}
#thTotalLikes
{
    width: 50%;
}
.likesSettings {
    color: #08c5dd;
}
.commentsSettings {
    color: red;
}
.sharesSettings {
    color: yellow;
}

#menuLinks {
    color: black;
}
#whiteLink {
    color: white;
}

@media (max-width:900px){
    body{
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    #twittersection{
        width:100%;
    }
    #facebooksection {
        width: 100%;
    }

    .twitter-timeline{
        width:100% !important;
    }

    #embed-api-auth-container{
       margin:0 auto;
    }
    .countryTable {
        border-collapse: collapse;
        width: 96%;
        table-layout: fixed;
        margin: 2%;
    }
    .latestPostTable {
        border-collapse: collapse;
        width: 192%;
        table-layout: fixed;
        margin: 2%;
        display: block;
        float: left;
    }
    
    th, td {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-size: 3vw;
    }
    td {
        background-color: white;
        min-width: 10%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0.5vw;
        text-align: center;
    }
    th {
        background-color: #520a76;
        color: white;
        text-align: center; 
        width: 20%;
        padding: 1vw;
    }
    #thTotalLikes
    {
        width: 50%;
    }
    #likesSize
    {
        width: 50%;
    }
    .scaleZoom {
        overflow-x: scroll;
    }
}
