
@import './base/custom-media';
@import './base/variables';


/* Components. */
@import './components/active-users';
@import './components/chartjs';

#main {
    
}

body {
    background-color: #blue;
}

#unikia {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    white-space: nowrap;
    height:100%;
}


#username {
    text-align: center;
    padding-top: 20em;
    padding-left: 17em;
    position: fixed;
    display: block;
}

#password {
    text-align: center;
    position: fixed;
    padding-top: 22em;
    padding-left: 17em;
    display: block;
}

#unikiabilde {
    text-align: center;
    padding-top: 8em;
    padding-left: 12em;
    display: block;
    position: fixed;
    width: 30%;
}
#neste {
    position: fixed;
    padding-top: 22em;
    padding-left: 17em;
    display: block;
    text-align: center;
}