/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.mar.2017, 11:45:31
    Author     : Aksel
*/

#embed-api-auth-container {
    display: none;
}
#view-selector-container {
    display: none;
}
#ViewSelector2 {
    display: none;
}
#chart1 {
    margin-left: 3%;
    display: inline-block;
    width: 86%;
    text-align: center;
    height: 80%;
    font-family: "Titillium Web";
    background-color: gray;
    margin-right: 10%;
    float: left;
    border: 1px solid black;
}

.sidebar {
    width: 12%;
    height: 100%;
    float: left;
    position:fixed;
    top:0;
    left:0;
    white-space: nowrap;
    background-color: #520a76;
    display: inline;
    border: 1px solid black;
}

#list {
    color: white;
    display: inline-block;
    margin-top: 50%;
    padding-left: 5%;
    
}

body{
    background-color: #f1f1f1;
}

#unikiaicon {
    width: 120px;
    height: 120px;
    padding-left: 15%;
}

#main {
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    display: inline-block;
}

