/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
canvas {
    width: 900px;
    height: 500px;
}

#chart-1-container {
    width: 45%;
    height: 300px;
}
#chart-2-container {
    width: 45%;
    height: 300px;
}
#unikiaicon{
    height:2.5rem;
    width:2rem;
    display:inline-block;
    padding-top:.25rem;
    padding-bottom:.25rem;
    margin-right:1rem;
    line-height:inherit;
    white-space:nowrap;
}
 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

#view-selector-container{
    display:none;
}

#analyticsPart{
    border: 1px solid black;
    overflow:hidden;
    background-color: white;
    
}

#chart-container{
    width:99.05%;
}

#twittersection{
    border: 1px solid black;
    margin-top: 2rem;
    width:20rem;
    
}

canvas {
    height: 300px;
}

.chartjs {
    display: inline;
    width: 30rem;
}
.position {
    width: 40%;
    display: inline-block;
    height: 30rem;
    background-color: purple;
}
#charts {
    text-align: center;
}
#c1, #c3 {
    margin-right: 5%;
}
#c1, #c2 {
    margin-bottom: 3%;
}
#c3 {
    float: left;
    margin-left: 7.5%;
}
#c4 {
    float: right;
    margin-right: 7.5%;
}
.ViewSelector2 {
    display: none;
}
#embed-api-auth-container {
    float: right;
}
#date-range-selector-1-container {
    display: inline;
    text-align: center;
}
.DateRangeSelector-item {
    display: inline;
}
